<div class="datagrid">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Buy Day</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
			</tr>
			<tr class="alt">
				<td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
			</tr>
			<tr>
				<td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
			</tr>
			<tr class="alt">
				<td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
			</tr>
			<tr>
				<td>data</td><td>data</td><td>data</td><td>data</td><td>data</td>
			</tr>
		</tbody>
	</table>
</div>