// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  height: 100%;
  color: #fff;
  background-image: image-url("background.jpg");
}
#content {
  width: 70%;
  margin: 50px auto;
}