<h1>New product</h1>
<%= form_for :product , url: products_path, method: :post do |f| %>
<p>
	Name: <%= f.text_field :name %>
</p>
<p>
	Quantity <%= f.text_field :quantity %>
</p>
<p>Name: <%= f.submit :Create %></p>
<% end %>
